<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123829503-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-123829503-2');

</script>

<script src="{{ 'frontend/js/jquery-3.3.1.min.js' | relative_url }}"></script>
<script src="{{ 'frontend/js/jquery.widowFix.min.js' | relative_url }}"></script>
<script src="{{ 'frontend/js/jquery.roulette.min.js' | relative_url }}"></script>
<script src="{{ 'frontend/js/d3.v5.min.js' | relative_url }}"></script>

<script src="{{ 'frontend/js/bundle.js' | relative_url }}"></script>
<script src="{{ 'frontend/js/slide.js' | relative_url }}"></script>
<script src="{{ 'frontend/js/treemap.js' | relative_url }}"></script>
