<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}

<body>

    <div class="loader">
        <div class="loader_ball"></div>
        <div class="loader_text">LOADING</div>
    </div>


    <section class="front page is-active">
        <div class="front_rotate  hide">
            <div class="front_rotate_title">
                {{ site.title }}
            </div>
        </div>
        <div class="front_title">
            <div class="module">
                {{ site.title }}
            </div>
        </div>


        <div class="front_content">
            <div class="module">
                {{ content }}
            </div>
        </div>
    </section>


    {% for page in site.pages %}

    <section class="page n{{page.number}}" data-number="{{page.number}}">

        <div class="page_content content">
            <div class="module">

                <div class="page_title">
                    <div class="title">
                        {{ page.title }}<span>*</span>
                    </div>
                </div>

                <div class="page_cover">
                    <img src="{{page.cover | relative_url }}" />
                </div>

            </div>

            <div class="page_text">
                {{page.content}}
            </div>


        </div>

        <div class="page_number">
            .{{ page.number }}
        </div>


    </section>
    {% endfor %}

    <section class="page n6 is-end" data-number="6" id="end">
        <div class="page_content content">
            <div class="module">
                <div class="page_title">
                    Stop hate against women
                </div>


                <div class="page_subtitle">
                    <p>Does this website seems strange? Everything you’ve red in these 5 steps has been shared by real users online (you can check the sources here). Stop hate speech against women and spread the message on the web: let's defeat the hate together.</p>

                    <p><a href="./method">More about this project.</a></p>
                </div>


                <div class="page_roulette">

                    <div class="page_roulette_img">

                        <img src="{{ 'frontend/img/roulette/roulette01.png' | relative_url}}" data-number="01">
                        <img src="{{ 'frontend/img/roulette/roulette01.png' | relative_url}}" data-number="02">
                        <img src="{{ 'frontend/img/roulette/roulette01.png' | relative_url}}" data-number="03">

                    </div>

                    <div class="page_roulette_share">
                        <h1>SHARE ON YOUR SOCIAL PROFILES <br>
                            AND STAND AGAINST MISOGYNY</h1>

                        <div class="page_roulette_share_social">
                            <div class="button fb" data-href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.manojyadav.co.in">
                                FB
                            </div>
                            <div class="button tw">
                                TW
                            </div>
                            <div class="button ig">
                                IG
                            </div>
                        </div>

                        <div class="page_roulette_share_separator">
                            <span>OR</span>
                        </div>

                        <div class="page_roulette_generate start button">
                            GENERATE NEW ONE
                        </div>

                    </div>
                </div>


                <div class="page_footer">
                    A project by
                </div>


            </div>
        </div>

        <div class="page_number">
            *
        </div>


    </section>


    {% include footer.html %}
</body>

</html>
