<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}



<body>

    <section class="method">

        <div class="module">

            <a href="{{site.url}}">
                <div class="method_back">
                    &larr; Back to the project
                </div>
            </a>

            <div class="method_title">
                <h1>the Anti·Feminist Manifesto Experiment</h1>
            </div>

        </div>

        <div class="method_content">

            {{page.content}}

        </div>


    </section>



    {% include footer.html %}


    <script>
        $.ajax({
            url: 'https://www.googleapis.com/analytics/v3/data/ga?ids=ga:187589482&start-date=2008-10-01&end-date=today&metrics=ga:sessions',
            method: "GET",
            headers: {
                "Authorization": "Bearer 813699983043-kir7fj27jiabnksmsd3988k0hr06q2a2.apps.googleusercontent.com",
            },
        }).then(function(response) {
            console.log(response);
        }).catch(function(err) {
            console.error(err);
        });

    </script>







</body>

</html>
