<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}



<body>

    <section class="method">

        <div class="module">

            <a href="{{site.url}}">
                <div class="method_back">
                    &larr; Back to the project
                </div>
            </a>

            <div class="method_title">
                <h1>the Anti·Feminist Manifesto Experiment</h1>
            </div>

        </div>

        <div class="method_content">

            {{page.content}}

        </div>


    </section>



    {% include footer.html %}


    <script>
        $.ajax({
            url: 'https://analyticsreporting.googleapis.com/v4/reports:batchGet',
            method: "POST",
            header: {
                "Authorization": "Bearer KL1ozrZrnKNj_1YG1B2nU8Cc",
            },
            body: {
                "reportRequests": [{
                    "viewId": "187589482",
                    "dateRanges": [{
                        "startDate": "2015-11-01",
                        "endDate": "today"
                    }],
                    "metrics": [{
                        "expression": "ga:users"
                    }]
                }]
            }
        }).then(function(response) {
            console.log(response);
        }).catch(function(err) {
            console.error(err);
        });

    </script>







</body>

</html>
