<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}



<body>

    <section class="method">

        <div class="method_title">
            <h1>the Anti·Feminist Manifesto Experiment</h1>
        </div>

        <div class="method_content">

            {{page.content}}

        </div>


    </section>






</body>

</html>
