<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <!-- Meta tags for social networks -->
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ site.pages[0].description }}">
    <meta property="og:image" content="{{ page.fbCover | absolute_url }}">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta name="twitter:card" content="summary_large_image">

</head>

<body>


</body>

</html>
